{% extends 'base.html' %}

{% block content %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title" align="center" >
                    Check the weather ?
                </h1>
                 <a href="{% url 'logout' %}" class="btn btn-info btn-lg" style="float: right">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
            </div>
        </div>



    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">

                                {{ form.name }}
                            </div>
                            <div class="control">
                                <button type = "submit" class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                  {% for city_weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content" class="alert alert-success alert-dismissible">
                                    <a button type="button" class="btn btn-link">&times;</a>


                                        <span class="title">{{ city_weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ city_weather.temperature }}° F</span>
                                        <br> {{ city_weather.description }}

                                </div>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <script>
    $(document).on('click', '.close', function () {
        $(this).parents('.box').remove();

    });
    </script>

{% endblock content %}